.myStory{
  color: white;
}

.centerMain {
  margin: auto;
}

/* Proyect 1*/
.padre {
  display: flex;
  justify-content: center;
}

.padre > div {
  width: 16%;
  height: auto;
  margin: 10px 5px;
}

.information {
  display: flex;
  flex-direction: column;
  margin: auto 140px;
  color: white;
}
/*Clases personalizadas - General */

.div__logo {
  display: flex;
  justify-content: center;
  padding: 0.625rem 0;
}

/* Para el Slider - INDEX */

.carousel-inner {
  max-width: 60%;
}


.div__logo {
  -webkit-animation: slide-in-fwd-center 2.8s
    cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-fwd-center 2.8s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}


.div__container-flex > a > img {
  width: 50%;
}


/*Media*/
@font-face {
  src: url("../Font/MODENINE.TTF");
  font-family: MODENINE;
}
@-webkit-keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-fwd-center {
  0% {
    -webkit-transform: translateZ(-1400px);
    transform: translateZ(-1400px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    opacity: 1;
  }
}

@media screen and (min-width: 1440px) {
  .div__container {
    width: 50%;
  }
}
@media screen and (max-width: 1024px) {
  .div__container {
    width: 80%;
  }
}

@media screen and (max-width: 574px) {
  .div__container {
    width: 90%;
  }

  .nav__label {
    display: block;
    cursor: pointer;
  }
  .nav__menu {
    position: fixed;
    top: 0.781rem;
    bottom: 3.125rem;
    background: gray;
    width: 100%;
    left: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    clip-path: circle(0 at center);
    transition: clip-path 1s ease-in-out;
  }

  .div__img {
    width: 600px;
  }
  .div__container-flex {
    width: 650px;
    padding-left: 30px;
  }

  .div__description {
    margin-left: 600px;
  }

  .btn__readMore {
    margin-right: 400px;
  }

  .div__description {
    margin-right: 280px;
  }

  .div__moreDescription {
    margin-left: 360px;
  }
  .centrando {
    margin-left: 700px;
  }
  .div__article {
    text-align: center;
  }
  .close {
    top: 1.25rem;
    right: 1.25rem;
  }
}
