.icons a {
    text-decoration: none;
    color: map-get($styles, color);
    margin: 10px;
    font-size: 25px;

    & i:hover {
      color: white;
      transform: scale(1.1);
      transition: map-get($styles, transition);
    }
  }
  
  .icons--with-background a {
    @extend .icons;
    background-color: aqua;
  }